@model LOLMVC.ChampStat

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ChampStat</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WinRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WinRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BanRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BanRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanePlayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanePlayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Champ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Champ.ChampId)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StatId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
