@model LOLMVC.ChampStat

@{
    ViewData["Title"] = "Details";
}

<h1>Champion Stats</h1>



<div class="container">
    <hr />
    <div class="row">
        <div class="card">
            <div class="row">
                <div class="col-6">
                    <img class="card-img" src="@Html.DisplayFor(model => model.Champ.ChampImage)" alt="Card image cap">
                </div>
                <div class="col-6">
                    <div class="card-body">
                        <h4 class="card-title">@Html.DisplayFor(model => model.Champ.ChampName)</h4>
                        @* Role *@
                        <span>
                            Champion Role: @Html.DisplayFor(model => model.Champ.ChampRole)
                        </span>
                        @* Lane played *@
                        <span>
                            Lane played: @Html.DisplayFor(model => model.LanePlayed)
                        </span>
                        @* Tier *@
                        <span>
                            Tier: @Html.DisplayFor(model => model.Tier)
                        </span>
                        <hr />
                        <span>
                            Win rate: @Html.DisplayFor(model => model.WinRate)
                        </span>
                        <span>
                            Pick rate: @Html.DisplayFor(model => model.PickRate)
                        </span>
                        <span>
                            Ban rate: @Html.DisplayFor(model => model.BanRate)
                        </span>

                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WinRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WinRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PickRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PickRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BanRate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BanRate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LanePlayed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LanePlayed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Champ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Champ.ChampId)
        </dd>
    </dl>*@
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StatId">Edit</a> |
    <a asp-controller="Champions" asp-action="Index">Back to List</a>
</div>
