@model LOLMVC.Champion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Champions</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampRole)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampRole)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampResource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampResource)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lore)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lore)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChampImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChampImage)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ChampId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
